.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 998;
}
.button-add {
  align-self: flex-end;
}

.movies-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
@media only screen and (max-width: 1112px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
  }
  app-little-spinner {
    width: 20% !important;
  }

}
@media only screen and (max-width: 741px) {
  .movies-container {
    grid-template-columns: 1fr;
  }
  .superior-bar{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .superior-bar h1 {
    justify-self: center;
    margin: 0px !important;
  }
  .superior-bar button{
    margin: 0px !important;
    padding: 0px !important;
    align-self: center;
    width: 150px;
  }
  app-little-spinner {
    align-self: center;
    width: 100% !important;
    justify-content: center !important;
  }
}
.spinner-sub {
  display: flex;
  align-self: flex-end;
  margin: 10px;
}
app-little-spinner {
  align-self: flex-end;
  width: 15%;
  justify-content: flex-end;
}
.grid-container {
  width: 100vw;
}
.superior-bar {
  display: grid;
  grid-template-columns: 85vw 15vw;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}
.superior-bar button{
  margin-right: 10px;
  padding: 0px;
}
@media only screen and (max-width: 1018px) {
  .superior-bar {
    grid-template-columns: 80vw 20vw;

  }
  .superior-bar h1 {
    justify-self: center;
    margin-left: 20vw;
    margin-bottom: 0px;
  }

}
.superior-bar h1 {
  justify-self: center;
  margin-left: 15vw;
  margin-bottom: 0px;
}

