<div class="container">
  <div class="superior-bar">
    <h1>
      Peliculas
    </h1>
    <button mat-raised-button color="primary" class="button-add" (click)="openDialog()">
      <mat-icon>add</mat-icon> Agregar Pelicula
    </button>
  </div>
  <app-little-spinner [loading]="isLoaded" [message]="message"></app-little-spinner>
  <div class="movies-container">
    <app-card-pelicula *ngFor="let pelicula of peliculas" [pelicula]="pelicula">
    </app-card-pelicula>
  </div>

</div>
