.little-spinner{
  display: flex;
  align-self: flex-end;
  margin: 10px;
}
mat-progress-spinner{
  margin-right: 10px;
}
@media only screen and (max-width: 1112px) {

  .little-spinner{
    flex: none !important;
  }
}
