<div class="main-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>

    <form class="auth-form" [formGroup]="formRegister" (ngSubmit)="register()">

      <mat-card-content>
        <mat-form-field class="auth-full-width">
          <input matInput placeholder="Usuario" id="username" formControlName="username" type="text" required>
          <span class="text-danger"
            *ngIf="(formRegisterControl.username.touched||isSubmitted) && formRegisterControl.username.errors?.required">El
            usuario es requerido</span>
        </mat-form-field>

        <mat-form-field class="auth-full-width">
          <input matInput placeholder="Correo" id="email" formControlName="email" type="email" required>
          <span class="text-danger"
            *ngIf="(formRegisterControl.email.touched||isSubmitted) && formRegisterControl.email.errors?.required">El
            correo es requerido</span>
          <span class="text-danger"  *ngIf="formRegisterControl.email.touched && formRegisterControl.email.errors?.email">
            Ingrese una dirección de correo válida
          </span>
        </mat-form-field>

        <mat-form-field class="auth-full-width">
          <input matInput placeholder="Contraseña" id="password" formControlName="password" type="password" required>
          <span class="text-danger"
            *ngIf="(formRegisterControl.password.touched||isSubmitted) && formRegisterControl.password.errors?.required">La
            contraseña es requerida</span>
            <span  class="text-danger" *ngIf="formRegisterControl.password.touched && formRegisterControl.password.errors?.invalidPassword">
              La contraseña debe tener un mínimo de 8 caracteres, al menos 1 letra mayúscula, 1 número
            </span>
        </mat-form-field>
      </mat-card-content>
      <span class="text-danger" >{{mensaje}}</span>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Registrarme</button>
    </form>
    <p>O <a [routerLink]="['/login']">Ingrese</a></p>
  </mat-card>
</div>
