<mat-toolbar color="primary" class="toolbar">
  <span class="name-page" [routerLink]="['/home']"> <mat-icon [routerLink]="['/home']">home</mat-icon> Peliculas</span>
  <span class="custom-spacer"></span>
  <app-custom-menu-user></app-custom-menu-user>
</mat-toolbar>
