<div class="main-wrapper">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Ingreso</mat-card-title>
    </mat-card-header>
    <form class="auth-form" [formGroup]="formLogin" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="auth-full-width">
          <input matInput placeholder="Usuario" id="username" formControlName="username" type="text" required>
          <span class="text-danger"
            *ngIf="(formLoginControl.username.touched||isSubmitted) && formLoginControl.username.errors?.required">El
            usuario es requerido</span>
        </mat-form-field>
        <mat-form-field class="auth-full-width">
          <input matInput placeholder="Contraseña" id="password" formControlName="password" type="password" required>
          <span class="text-danger"
            *ngIf="(formLoginControl.password.touched||isSubmitted) && formLoginControl.password.errors?.required">El
            usuario es requerido</span>
        </mat-form-field>
      </mat-card-content>
      <span class="text-danger" >{{mensaje}}</span>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Ingreso</button>
    </form>
    <p>O <a [routerLink]="['/register']">Regístrese</a></p>
  </mat-card>
</div>
