<div class="container">
  <h1 mat-dialog-title>Ya está registrado!</h1>
  <mat-dialog-content>
    <p>Ya se encuentra registrado, ingrese sus credenciales para ingresar!</p>
  </mat-dialog-content>
</div>
