<div class="main-wrapper">
  <mat-card>
    <mat-card-title class="title-card">
      Perfil
    </mat-card-title>
    <img mat-card-avatar class="profile-avatar" src={{user.profileUrl}} class="image-card">
    <mat-card-content>
      <div>
        <span class="item-profile">Username:</span><span>{{user.username}}</span>
      </div>
      <div>
        <span class="item-profile">Correo:</span> <span>{{user.email}}</span>
      </div>
      <div>
        <span class="item-profile">Dirección:</span><span>{{user.address}}</span>
      </div>
      <div >
        <span class="item-profile">Año de nacimiento:</span><span>{{user.birthday}}</span>
      </div>
      <div>
        <span class="item-profile"> Cédula:</span><span>{{user.identification}}</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
