.mat-card-avatar{
  width: 200px ;
  height: 200px;
  margin: 10px;
}
.profile-information{
  text-align: justify;
}
.mat-card-content div{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.title-card{
  text-align: center;
}
.item-profile{
  font-weight: bold;
}
