<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>person</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToProfile()">
    <mat-icon>perm_identity</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item (click)="closeSesion()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
