<!-- <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" /> -->
<form [formGroup]="formPelicula" (ngSubmit)="updatePelicula()">
  <mat-card class="card-peli custom-card">

    <mat-card-title *ngIf="editar">
      <div *ngIf="editar">
        <mat-form-field appearance="legacy">
          <mat-label for="name">Nombre</mat-label>
          <input matInput type="text" id="name" formControlName="name" required />
          <span class="text-danger" *ngIf="
                (formPeliculaControl.name.touched || isSubmitted) &&
                formPeliculaControl.name.errors?.required
              ">El nombre es requerido</span>
        </mat-form-field>
      </div>
    </mat-card-title>

    <mat-card-title *ngIf="!editar">
      {{pelicula.name}}
    </mat-card-title>


    <mat-card-subtitle *ngIf="!editar">
      {{pelicula.year}}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="editar">
      <div>
        <mat-form-field appearance="legacy">
          <mat-label for="year">Año</mat-label>
          <input matInput type="text" id="year" formControlName="year" required />
          <span class="text-danger" *ngIf="
              (formPeliculaControl.year.touched || isSubmitted) &&
              formPeliculaControl.year.errors?.required
            ">El año es requerido</span>
          <span class="text-danger" *ngIf="
              formPeliculaControl.year.touched &&
              formPeliculaControl.year.errors?.invalidYear
            ">
            Ingrese solo números
          </span>

          <span class="text-danger" *ngIf="
              formPeliculaControl.year.touched &&
              formPeliculaControl.year.errors?.invalidLengthYear
            ">
            Solo puede ingresar un número de 4 dígitos
          </span>
        </mat-form-field>
      </div>
    </mat-card-subtitle>
    <swiper class="mySwiper" [navigation]="true" [slidesPerView]="1" [loop]="true">
      <ng-template swiperSlide>
        <div class="div-image">
          <img src={{pelicula.imageBanner}} class="image-card">
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="div-image">
          <img src={{pelicula.imageCover}} class="image-card">
        </div>
      </ng-template>
    </swiper>

    <mat-card-content *ngIf="!editar">
      <p>
        {{pelicula.sinopsis}}
      </p>
      <textarea id="name" formControlName="sinopsis" cols="30" rows="10" *ngIf="editar"></textarea>
    </mat-card-content>

    <mat-card-content *ngIf="editar">
      <mat-form-field appearance="legacy">
        <mat-label for="sinopsis">Sinopsis</mat-label>
        <textarea matInput id="sinopsis" formControlName="sinopsis" required id=""></textarea>
        <span class="text-danger" *ngIf="
            (formPeliculaControl.sinopsis.touched || isSubmitted) &&
            formPeliculaControl.sinopsis.errors?.required
          ">La sinopsis es requerida</span>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="eliminarPelicula(pelicula.id)" type="button"><mat-icon>delete</mat-icon>Eliminar</button>
      <button mat-raised-button color="primary" (click)="changeEditar()" type="button"><mat-icon>edit</mat-icon>Editar</button>
      <button mat-raised-button color="primary" *ngIf="editar" type="submit"><mat-icon>update</mat-icon>Actualizar</button>
    </mat-card-actions>
  </mat-card>
</form>
