.card-peli {
  width: 300px;
}
@media only screen and (max-width: 400px) {
  .card-peli {
    width: 80vw;
  }
}
.image-card {
  height: 35vh;
  object-fit: scale-down;
}
.custom-card {
  margin-top: 20px;
  padding: 40px 30px 40px 30px;
  justify-items: center;
}

.mat-form-field {
  width: 100%;
}

.div-image {
  display: flex;
  justify-content: center;
}
