<div class="cross-button">
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="container">
  <h1 mat-dialog-title>Agregar Película</h1>
  <form [formGroup]="formPelicula" (ngSubmit)="createPelicula()">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label for="name">Nombre</mat-label>
        <input matInput type="text" id="name" formControlName="name" required />
        <span class="text-danger" *ngIf="
            (formPeliculaControl.name.touched || isSubmitted) &&
            formPeliculaControl.name.errors?.required
          ">El nombre es requerido</span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label for="producer">Productor</mat-label>
        <input matInput type="text" id="producer" formControlName="producer" required />
        <span class="text-danger" *ngIf="
            (formPeliculaControl.producer.touched || isSubmitted) &&
            formPeliculaControl.producer.errors?.required
          ">El productor es requerido</span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label for="avgScore">Avg Score</mat-label>
        <input matInput type="text" id="avgScore" formControlName="avgScore" required />
        <span class="text-danger" *ngIf="
            (formPeliculaControl.avgScore.touched || isSubmitted) &&
            formPeliculaControl.avgScore.errors?.required
          ">El Avg Score es requerido</span>
        <span class="text-danger"
          *ngIf="formPeliculaControl.avgScore.touched && formPeliculaControl.avgScore.errors?.invalidText">
          Ingrese un número
        </span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label for="year">Año</mat-label>
        <input matInput type="text" id="year" formControlName="year" required />
        <span class="text-danger" *ngIf="
            (formPeliculaControl.year.touched || isSubmitted) &&
            formPeliculaControl.year.errors?.required
          ">El año es requerido</span>
        <span class="text-danger" *ngIf="
            formPeliculaControl.year.touched &&
            formPeliculaControl.year.errors?.invalidYear
          ">
          Ingrese solo números
        </span>
        <span class="text-danger" *ngIf="
        formPeliculaControl.year.touched &&
        formPeliculaControl.year.errors?.invalidLengthYear
      ">
          Solo puede ingresar un número de 4 dígitos
        </span>
      </mat-form-field>
    </div>

    <mat-form-field appearance="legacy">
      <mat-label for="sinopsis">Sinopsis</mat-label>
      <textarea matInput id="sinopsis" formControlName="sinopsis" required id=""></textarea>
      <span class="text-danger" *ngIf="
          (formPeliculaControl.sinopsis.touched || isSubmitted) &&
          formPeliculaControl.sinopsis.errors?.required
        ">La sinopsis es requerida</span>
    </mat-form-field>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label for="imageCover">URL Imagen Cover</mat-label>
        <input matInput type="text" id="imageCover" formControlName="imageCover" required />
        <span class="text-danger" *ngIf="
            (formPeliculaControl.imageCover.touched || isSubmitted) &&
            formPeliculaControl.imageCover.errors?.required
          ">La url del image cover es requerida</span>
        <span class="text-danger"
          *ngIf="formPeliculaControl.imageCover.touched && formPeliculaControl.imageCover.errors?.invalidUrl">
          Ingrese una url válida
        </span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label for="imageBanner">URL Imagen Banner</mat-label>
        <input matInput type="text" id="imageBanner" formControlName="imageBanner" required />
        <span class="text-danger" *ngIf="
            (formPeliculaControl.imageBanner.touched || isSubmitted) &&
            formPeliculaControl.imageBanner.errors?.required
          ">La url del image banner es requerida</span>
        <span class="text-danger"
          *ngIf="formPeliculaControl.imageBanner.touched && formPeliculaControl.imageBanner.errors?.invalidUrl">
          Ingrese una url válida
        </span>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="button-submit">
      <button mat-raised-button color="primary" type="submit" cdkFocusInitial>Enviar</button>
    </div>
  </form>
</div>
